.logo_tgif {

    width: 150px;
}

footer {
    text-align: center;
    background-color: #80808021;
}

thead {
    font-weight: bold;

}

.contenedor {

    display: flex;
}

.home_image {

    height: 300px;
    margin-right: 10px;
}

.about {

    margin: 17px;
}

.read_more {
    font-size: 14px;
    color: #259fce
}




.filters {
    display: flex;

    justify-content: space-between;
}




.cont_glance {

    display: flex;

}

.attendance {

    display: flex;
    justify-content: space-around;

}



.cont-top-bottom {
    display: flex;
    justify-content: space-around;


}

.text-attendance {

    width: 50%;
}

.cont-glance {
    width: 40%;


}

.cont-bottom {

    width: 45%;
}
