.logo_tgif {

    width: 150px;
}

footer {
    text-align: center;
    background-color: #80808021;
}

thead {
    font-weight: bold;

}

.contenedor {

    display: flex;
}

.home_image {

    height: 300px;
    margin-right: 10px;
}

.about {

    margin: 17px;
}

.read_more {
    font-size: 14px;
    color: #259fce
}




.filters {
    display: flex;

    justify-content: space-between;
}




.cont_glance {

    display: flex;

}

.attendance {

    display: flex;
    justify-content: space-around;

}



.cont-top-bottom {
    display: flex;
    justify-content: space-around;


}

.text-attendance {

    width: 50%;
}

.cont-glance {
    width: 40%;


}

.cont-bottom {

    width: 45%;
}



.title-govern {
    display: inline-block;
    color:#e47777;
}





.mailbox {
        width: 30px;
    margin-left: 500px;
}

.cont-superior {
    display:flex;
}

.mail {
        margin-top: 52px;
}

.mailto {
    color: gray;
}







.table {
    
}



.menu {
    background-color: #38528a;
}

.nav-link {
    color: #38528a;
}

.nav-item {
    background-color: white;
    border-radius: 150px;
    margin-right: 5px;
}



.drop-item {
    color: #38528a;
}




